@{
    ViewData["Title"] = "Loan Application Success";
}

<h1>Loan Application Submitted Successfully</h1>
<p>Your loan application has been submitted successfully. You will receive further instructions via email.</p>
